#put all the dependencies in this file
#pony is pythons typeorm: https://docs.ponyorm.org/firststeps.html
#Django is pythons server: see readme.txt
#psycopg2-binary 3.1 allows python and postgres to work together. https://www.psycopg.org/docs/install.html
#django-handlers - streamlines writing handlers for routes. https://pypi.org/project/django-handlers/


Django==4.1.7
postgresql-client-common
psycopg2-binary==3.1
